@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

body {
    font-family: "Raleway", sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    color: purple;
}
.filter {
    font-weight: 'bold';
    padding-top: '10%';
}
.modebar { display: none !important; }

.vega-embed .vega-actions button,
.vega-embed .vega-actions a {
    display: none !important;
}

details {
    display: none;
}